*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

a{
    text-decoration: none;

}

a:active{
    color: black;
}

.header{
    width: 100%;
    background-color: #ecf0f1;
}

.header-line{
    width: 100%;
    border-bottom:1px solid #bdc3c7 ;
}

.header-content{
    width: 80%;
    margin: auto;
    display: flex;
    padding: 10px 0px;
}

.content-icon{
    width: 10%;
    height: 50px;
    border-radius: 5px;
    overflow: hidden;
}

.content-intro{
    width: 100%;
    margin-left: 10px;
    height: 50px;
    display: flex;
}

.block-search{
    width: 50%;
    height: 100%;
    align-items: center;
    border-radius: 50px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar{
    border: none;
    width: 50%;
    outline: none;
    height: 100%;
    border-radius: 50px;
    padding:0px 15px;
    display: flex;
    flex: 1;
    font-size: 15px;
}

.search-icons{
    height: 100%;
    border-radius: 0 50px 50px 0px ;
    padding: 0px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #e74c3c;
    color: white;
}

.search-icons .material-icons:hover{
    color: black;
}

.material-icons{
    padding-right: 5px;
}

.block-feature{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    
}

.feature-button{
    width: calc(25% - 5px);
    height: 100%;
    font-size: 15px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin: 0px 5px;
    cursor: pointer;
    color: black;
}

.header-list{
    width: 80%;
    margin: auto;
    display: flex;
}
.list-button{
    width: calc(25% - 10px);
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px 0px 10px 10px ;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 0px;
} 

.list-button:hover{
    background-color: #e74c3c;
    border: none;
    color: white;
}

.list-button-menu{
    width: 25%;
    border-radius: 5px;
    margin: 10px 0px ;
    background-color: #2c3e50;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 0px;

}

.main{
    width: 80%;
    margin: auto;
    
}

.list-product{
    width: 100%;
    margin-top: 50px;
}

.banner{
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0px;
    color: black;
}

.products{
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

.product-card{
    width: calc(20% - 22px);
    overflow: hidden;
    text-align: center;
    border: 1px solid white;
    margin: 10px 0px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.product-card:hover{
    border: 1px solid #f1c40f;
}

.card-img{
    height: 250px;
    width: 100%;
    object-fit: cover;

}

.card-name{
    color: #2980b9;
    margin: 10px;
    font-size: 15px;
    height: 55px;
    overflow: hidden;
}

.card-price{
    color: #e74c3c;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
}

.mainupdate{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: #c0392b;
}

.register{
	margin: 0 auto;
    width: 25%;
    text-align: center;
    margin-top: 10px;
}

.title-register{
    font-size: 25px;
}

.form-register{
    display: flex;
    margin-top: 10px;
    border: 1px solid #ecf0f1;
    border-radius: 5px;
}

.icon-register{
    background-color: #bdc3c7;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.icon-register .material-icons{
    font-size: 20px;
    padding: 0px;
}

.input-register{
    width: 100% ;
    border: none;
    border-left: 1px solid #ecf0f1;
    border-top-right-radius: 5px ;
    border-bottom-right-radius: 5px ;
    padding: 10px;
    font-size: 20px;
}

.input-register:focus{
    box-shadow: 0px 0px 10 px #3498db;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

.button-form{
    display: flex;
    margin-top: 10px;

}

.button-register{
    border: none;
    padding: 10px ;
    background-color: #ecf0f1 ;
    font-size: 15px;
    margin-right: 20px;
    cursor: pointer;
    border-radius: 5px;
    
}

.button-register:hover{
    background-color: black;
    color: white;
}

.footer{
    width: 80%;
    margin: auto;
}

.viewer{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px ;
    background-color: #c0392b;
    color: white;
}

.info-product{
    display: flex;
    margin: 20px 0px;
    width: 100%;
}

.img-product{
    width: 40%;
    height: 500px;
}

.main-img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.info-detail{
    width: calc(60% - 20px);
    margin-left: 20px;
}

.title-product{
    font-size: 30px;
    width: 100%;
    overflow: hidden;
    max-height: 15%;
}

ul{
    list-style-position: inside;
}

ul li{
    font-weight: 700;
    font-size: 20px;
}

.line-info{
    display: flex;
    margin: 5px 0px;
}

.general-name{
    font-weight: 700;
    font-size: 20px;
    margin: 20px 0px;
}

.info-general-product{
    font-size: 20px;
    margin-left: 10px;
}

.price-product{
    display: flex;
    margin: 10px 0px;
}

.price-name{
    font-size: 20px;
    display: flex;
    align-items: center;
}

.price-value{
    font-size: 30px;
    color: #e74c3c;
    margin-left: 10px;
    font-weight: 700;
}

.button-sell{
    height: 50px;
    width: 200px;
    display: flex;
    background-color: #c0392b;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 700;
}

.description-title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.description-content{
    margin: 10px 0px;
    font-size: 20px;
}